<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
 <meta charset="ISO-8859-1">
 <title>titolo</title>
 </head>
 <body>

 <th:block th:fragment="head">
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
 </th:block>
 
 <ul th:fragment="navbar" class="nav nav-tabs">
 	<li class="nav-item" >
 		<a class="nav-link" th:href="@{/}">Home</a>
 	</li>
 	<li class="nav-item" >
 		<a class="nav-link" th:href="@{/movies}">Movies</a>
 	</li>
 	<li class="nav-item" >
 		<a class="nav-link" th:href="@{/songs}">Songs</a>
 	</li>
 </ul>
 
 <div th:fragment="layout(title, url, items)" class="container">
 	<h1 th:text="${title}"></h1>
	<ul>
		<li th:each="item : ${items}">
			<a th:href="@{/{url}/{id}(id=${item.getId()}, url=${url})}" th:text="${item.getTitle()}"> </a>
		</li>
	</ul>
	
	<div>
		<a th:href="@{/}">Torna alla homepage</a>
	</div>
</div>

 </body>
 </html>